<div id="erd-<%= model[:model] %>" class="model" style="top: <%= model[:y] %>px; left: <%= model[:x] %>px;" data-model_name="<%= model[:model] %>">
  <a href="#!" class="close"><%= image_tag("/assets/erd/close.png") %></a>
  <div class="model_name">
    <div class="model_name_text"><%= model[:model] %></div>
    <form class="rename_model_form">
      <table>
        <tr>
          <td>
            <input name="model" type="hidden" value="<%= model[:model] %>"/>
          </td>
          <td>
            <input name="to" type="text" /><input type="submit" value="Change"/>
          </td>
        </tr>
      </table>
      <a href="#!" class="cancel">Cancel</a>
    </form>
  </div>
  <div class="columns">
    <ul>
      <%= render :partial => 'erd/erd/column', :collection => model[:columns], :locals => {:model => model} -%>
    </ul>
  </div>
  <div class="add_column_box">
    <a href="#!" class="add_column">add column</a>
    <form class="add_column_form">
      <input name="model" type="hidden" value="<%= model[:model] %>" />
      <table>
        <tr>
          <td>
            <input name="name" type="text" />
          </td>
          <td>
            :
          </td>
          <td>
            <input name="type" type="text" value="string" />
          </td>
          <td>
            <input type="submit" value="Add" />
          </td>
        </tr>
      </table>
      <a href="#!" class="cancel">Cancel</a>
    </form>
  </div>
</div>
