<div id="erd_box">
  <div id="erd_container">
    <%=raw @erd %>
  </div>
  <div id="open_migration"><%= image_tag "data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%20%00%00%006%08%06%00%00%00%A6%F5%9Br%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%03%24iTXtXML%3Acom.adobe.xmp%00%00%00%00%00%3C%3Fxpacket%20begin%3D%22%EF%BB%BF%22%20id%3D%22W5M0MpCehiHzreSzNTczkc9d%22%3F%3E%20%3Cx%3Axmpmeta%20xmlns%3Ax%3D%22adobe%3Ans%3Ameta%2F%22%20x%3Axmptk%3D%22Adobe%20XMP%20Core%205.3-c011%2066.145661%2C%202012%2F02%2F06-14%3A56%3A27%20%20%20%20%20%20%20%20%22%3E%20%3Crdf%3ARDF%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%3E%20%3Crdf%3ADescription%20rdf%3Aabout%3D%22%22%20xmlns%3Axmp%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2F%22%20xmlns%3AxmpMM%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2Fmm%2F%22%20xmlns%3AstRef%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2FsType%2FResourceRef%23%22%20xmp%3ACreatorTool%3D%22Adobe%20Photoshop%20CS6%20(Macintosh)%22%20xmpMM%3AInstanceID%3D%22xmp.iid%3A7FB38B03BFF211E29BDCA95598AF2146%22%20xmpMM%3ADocumentID%3D%22xmp.did%3A7FB38B04BFF211E29BDCA95598AF2146%22%3E%20%3CxmpMM%3ADerivedFrom%20stRef%3AinstanceID%3D%22xmp.iid%3A7FB38B01BFF211E29BDCA95598AF2146%22%20stRef%3AdocumentID%3D%22xmp.did%3A7FB38B02BFF211E29BDCA95598AF2146%22%2F%3E%20%3C%2Frdf%3ADescription%3E%20%3C%2Frdf%3ARDF%3E%20%3C%2Fx%3Axmpmeta%3E%20%3C%3Fxpacket%20end%3D%22r%22%3F%3E%1A~%A1%DF%00%00%023IDATx%DA%CC%99%BF%2F%03a%18%C7%AFG%A3%09%95hh%0C%16%83%A9K'%93%C4%C0b%F0c%AA%09%1B%23%FE%00F%1D%DB%0D%2B%83X%BAHL6%8BI%97N%06%89%C1%D0K%88_%11%11%F1%FA%1E%DF%8B7%97%EB%A9%F6%EEy%7B%C9%A7%D1%DE%7B%FD%3E%E9%FB%E3%F9%3E%8F%84R%CA2t-%81%E3n%03%C2%3D%60%1F%AC%80I%E9%00%86%40%05L%80%17pb%B9S%20D%0E%5C%AB%9F%EB%06%E4%BF%A7_H%7C%06%3CR%FC%02%0C%7B%F7%24%C4%D7%C1%07%C5%8F%40J%BF%1F%A7p%12%ECQ%F8%13l%83%84%7F%5C%5C%E2%03%E0%8C%E2%AF%60%B1%D1%D88%C4%C7%C0%15%C5o%C1x%D8%F8%A8%C5%A7%C0%1D%C5%AB%60%E4%AFg%A2%14_%05%EF%14%AF%80%DEf%9E%8BB%B8%0B%94%D4%EFU%04v%B3%CF%B7%2B%9E%06%A7%14~%03%CB%FF%FD%8Ev%C4GA%8D%E2%0E%98h%E5%7BZ%15w%C5%EA%14%AF1%18K*%80e%FE%DC%8A%3F%7F%7F%3B%D3%F8%9F%C1%EE%C2%DA%D1%16%5B%99%0B%D0%92%08%A0%97%5BKq%AB%ADE%B5%7D%9B%19%E4%1E%26%97%14%BF%E7acI%050%CE%E3T%F1x%1D%8B%FA%E8%0E%BBY%60%22QL%2C%998%12W%D0%87n%CA%DCb%0AUL%A9%C9%B8%D2%B6%FF%83%14M%83%A2%89%D8%88%DB%B0%E8o%86i%97%DC%EB%896%CA%92%0A%20O%A3%A8h%1CsRf%D5%7D%99%03%CF%14%3F%07YA%A7l%D9%F0%E6%0B%A0%0F%1C%80i%E0H%16%0A%B6%F6%B7%99%1A-%60%0A%06%25%A7%A0%23%16a%D06%7C%90%DE%86%8D%0E%A2u%E9%00%82%8E%E2%5D%C9%A38%2C%19%0DH%07%60%3C%1D%EB%86%A4%CA%20%EE%A4%0DI%23K%B6*%1D%80gJ%8B%9A)-I%9A%D20%5B%9E%96%0E%C0%2BL%1CS%85IPiV%97.%CD%3C%FAM%16%A7zy%5E%D6%16%E7%8Edy%AE%B3f%AAA%E1o%D1%DC%9Bj%D1tD%93%CA%23%E3k%D3%15%A4%03%F0%1A%95%FB%A6%1A%95%3A%9B%A6Z%B5%FEf%F5%93%A9fuG%B4%EB%3D%B2%B4%FE%8A%A5%C0%BC-%5C%868%AC%BE%0EY%8D%CD%26L%FF%D3%EAK%80%01%00%2B%DD2X)e%A8%3D%00%00%00%00IEND%AEB%60%82" %></div>
  <div id="migration">
    <div id="close_migration"><%= image_tag 'data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%20%00%00%006%08%06%00%00%00%A6%F5%9Br%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%03%24iTXtXML%3Acom.adobe.xmp%00%00%00%00%00%3C%3Fxpacket%20begin%3D%22%EF%BB%BF%22%20id%3D%22W5M0MpCehiHzreSzNTczkc9d%22%3F%3E%20%3Cx%3Axmpmeta%20xmlns%3Ax%3D%22adobe%3Ans%3Ameta%2F%22%20x%3Axmptk%3D%22Adobe%20XMP%20Core%205.3-c011%2066.145661%2C%202012%2F02%2F06-14%3A56%3A27%20%20%20%20%20%20%20%20%22%3E%20%3Crdf%3ARDF%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%3E%20%3Crdf%3ADescription%20rdf%3Aabout%3D%22%22%20xmlns%3Axmp%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2F%22%20xmlns%3AxmpMM%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2Fmm%2F%22%20xmlns%3AstRef%3D%22http%3A%2F%2Fns.adobe.com%2Fxap%2F1.0%2FsType%2FResourceRef%23%22%20xmp%3ACreatorTool%3D%22Adobe%20Photoshop%20CS6%20(Macintosh)%22%20xmpMM%3AInstanceID%3D%22xmp.iid%3A7FB38B07BFF211E29BDCA95598AF2146%22%20xmpMM%3ADocumentID%3D%22xmp.did%3A7FB38B08BFF211E29BDCA95598AF2146%22%3E%20%3CxmpMM%3ADerivedFrom%20stRef%3AinstanceID%3D%22xmp.iid%3A7FB38B05BFF211E29BDCA95598AF2146%22%20stRef%3AdocumentID%3D%22xmp.did%3A7FB38B06BFF211E29BDCA95598AF2146%22%2F%3E%20%3C%2Frdf%3ADescription%3E%20%3C%2Frdf%3ARDF%3E%20%3C%2Fx%3Axmpmeta%3E%20%3C%3Fxpacket%20end%3D%22r%22%3F%3E%F5JG%DA%00%00%01%E8IDATx%DA%E4%99%BFKBQ%18%86%CFU*A%14%94%92%86%96%86%A6%96%A6%267%A7%96%DAts%D4%D1%FA%03j%D41%B7%0C%22%FA%05m%8DMm-N%B989%08%0E%0E%09I%19DDx%FA%3Ez%2F%5D%EE%1F%F0~C%07%9E%BB%DE%07%CE9%DF%AF%13x%EF%17%9Dse%E1%C6Y%2C%118%F3%BF%EBBX%12%1C%13%FD%EC%0A%EF%90x%14%96%D9%02%CA%960%82%C4P%D8d%0B(%ABB%17%12%AF%C2%0E%5B%40I%09%B7%90%F8%16%1Al%01%25%10%0E%859DN%84%05%A6%40HY%F8%80%C4%83%90c%0B(%DB%C2%18%12%03a%83-%A0%AC%09%3DH%BC%08%25%B6%80%92%16%EE%20%F1%25%D4%D8%02JBh%F9%BFu%2C%24%99%02!U%E1%13%12%F7B%86-%A0%14%85%09%24%FA%C2%3A%5B%C0%E1%A7%7DH%3CC%8A*%A0d%B1%0D%1E%DBRe%0B8%1C%C4v%E4p6q%60i%02!u%5CQ%8F%2B%9Bf%0B8%04%A9)%24z%08bT%01%87p%3D%80%C4%18%E1%9C*%A0%E4%91%C0%3C%12Z%99-%E0%90%C2O!%A1%A9%FD%08%A9%9E%26%10r%80%E2%C6%A3%D8I%B1%05%1C%CA%BB%19%24%BA(%FF%A8%02%0E%85%EE%10%12%23%14%C2T%01%A5%80%D2%DF%A3%15%D8c%0B84%3FW%908O8%9B5%8F%B6fLV%2C%B7%C0%F4%10%EA5%7C%B3%BA%86%0D%AB%40%A4%A1%B8c%15%8As%B1dT%F97%E9%B8%84%EE%C9%A4%20%A9Y%95dItI%E1j1%8B%D2%8CeY%1EmL%26%EC%C6%A4%88n%C8%A45%8B7%A7Yf%7B%DE%8C%1C%B66%B3%3D%8F%0F(%EA%EC%11%CD%13~%3Ee%8FhL%87T%F11%5D%DEjP%D9a%0E*%E3%A3%DA%7D%ABa%F5%8C%3D%AC6%1D%D7%C7%1F%2C%0A%EC%07%8B%F0%C9%E6%D2%E2%C9%26%C0%A3UE%B8%B6h%91~%04%18%00%A5%DA%B2x%88g%CF!%00%00%00%00IEND%AEB%60%82' %></div>
    <%- if flash[:executed_migrations].present? -%>
      <div id="executed">
        <h2>Successfully executed following <%= flash[:executed_migrations].values.flatten.count %> migrations!</h2>
        <%- [:up, :down].each do |direction| -%>
          <%- if flash[:executed_migrations][direction].present? -%>
            <h3><%= direction %></h3>
            <ul>
            <%- flash[:executed_migrations][direction].each do |m| -%>
              <li><%= File.basename m.to_s %></li>
            <%- end -%>
            </ul>
          <%- end -%>
        <%- end -%>
      </div>
    <%- end -%>
    <%- if flash[:failed_migrations].present? -%>
      <div id="failed">
        <h2>failed migrations</h2>
        <ul>
        <%- flash[:failed_migrations].each do |m| -%>
          <li><%= m %></li>
        <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <table id="changes">
      <caption>schema changes</caption>
      <thead><tr><th>action</th><th>model</th><th>column</th><th>from</th><th>to</th></tr></thead>
      <tbody></tbody>
    </table>
    <%= form_tag '/erd', :method => :put, :id => 'changes_form' do %>
      <%= hidden_field_tag 'changes' %>
      <%= submit_tag 'save changes' %>
    <% end %>
    <%= form_tag '/erd/migrate', :method => :put, :id => 'migrate_form' do %>
      <ul id="open_buttons">
        <li><button id="open_up" type="button">up</button></li>
        <li><button id="open_down" type="button">down</button></li>
        <li><button id="close_all" type="button">close</button></li>
      </ul>
      <table id="migration_status">
        <caption>migration status</caption>
        <thead>
          <tr><th class="status">status</th><th class="version">version</th><th class="name">name</th></tr>
          <tr><td colspan="3" class="migrations">
            <button>UNFOLD ALL</button>
            <%= @migrations.count %> migrations in total (up: <%= @migrations.count {|m| m[:status] == 'up'} %>, down: <%= @migrations.count {|m| m[:status] == 'down'} %>)
          </td></tr>
        </thead>
        <tbody>
          <%- @migrations.each do |m| -%>
            <tr class="<%= m[:status] %>">
              <td><label><%= check_box_tag (m[:status] == 'up' ? 'down[]' : 'up[]'), m[:filename] %><%= m[:status] %></label></td>
              <td><%= m[:version] %></td>
              <td class="migration_file_name"><%= m[:name] %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
      <%= submit_tag 'run migrations' %>
    <% end %>
  </div>
  <a href="#" id='open_create_model_dialog'%>Create Model</a>
  <div id="create_model_form">
    <form>
      Model Name: <input id="new_model_name" name="new_model_name" type="text" /><br>
      <table id="create_model_table">
        <tbody>
          <tr>
            <td><input name="new_model_column_name_1" type="text" /></td>
            <td class="separator">:</td>
            <td><input name="new_model_column_type_1" type="text" value="string" /></td>
          </tr>
        </tbody>
      </table>
      <div><a href="#" id="new_model_add_column" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Add More Column</span></a></div>
    </form>
  </div>
</div>
