<div>
  <div id="erd_container">
    <%=raw @erd %>
  </div>

  <div id="migration">
    <%- if flash[:failed_migrations].present? -%>
      <div id="failed">
        failed migrations
        <ul>
        <%- flash[:failed_migrations].each do |m| -%>
          <li><%= m %></li>
        <%- end -%>
        </ul>
      </div>
    <%- end -%>
    <table id="changes">
      <thead><tr><th>action</th><th>model</th><th>column</th><th>from</th><th>to</th></tr></thead>
      <tbody></tbody>
    </table>
    <%= form_tag '/erd', :method => :put, :id => 'changes_form' do %>
      <%= hidden_field_tag 'changes' %>
      <%= submit_tag 'save changes' %>
    <% end %>
    <%= form_tag '/erd/migrate', :method => :put do %>
      <table>
        <caption>migration status</caption>
        <thead><tr><th>status</th><th>version</th><th>name</th></tr></thead>
        <tbody>
          <%- @migrations.each do |m| -%>
            <tr><td><%= check_box_tag (m[:status] == 'up' ? 'down[]' : 'up[]'), m[:version] %><%= m[:status] %></td><td><%= m[:version] %></td><td><%= m[:name] %></td></tr>
          <%- end -%>
        </tbody>
      </table>
    <%= submit_tag 'run migrations' %>
    <% end %>
  </div>
</div>
