<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ERD - <%= Rails.application.class.parent.name %></title>
  <%= stylesheet_link_tag    'erd/application', :media => 'all' %>
  <%= javascript_include_tag 'erd/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
